body
{
background-image:url("img2.jpg");
}


#float
{
background-color:#000000;
float:right-top;
display:block;
text-align:right;
color:white;
font-size:34px;
}

li a:hover
{

background-color:#111;
}
li  a
{
display:block;
text-decoration-style:none;
color:white;
text-align:right;
padding:16px 17px;
}
ul
{
overflow:hidden;
}
li
{
float:left;
}